{% extends "base.html" %}

{% block main %}

<div class="container-fluid">
    <div class="row-fluid">
        <form method="post">
            {% csrf_token %}
            {{form}}
            <p>
                <input type="submit" class="btn" value="Add Item" />
            </p>
        </form>
    </div>
</div>

{% endblock %}

{% block js %} 

    <script src="/static/tiny_mce/tiny_mce.js"></script>
    <script src="/static/js/tiny_mce.js"></script>
    <script>
            
        function getTags(){
            $('.tag.btn-primary').each(function(){
                $('form').append('<input type="hidden" name="tags" id="tags" value="'+this.id+'" />');
            });
        }
        
        $(document).ready(function(){

            $('form').submit(function(ev){
                $('#tags').val(getTags());
            }); 

            var tagshtml='';
            $('#id_tags option').each(function(){
                var selected = this.selected ? 'btn-primary' : '';

                tagshtml += '<button class="tag btn '+selected+'" id="'+$(this).val()+'">'+$(this).text()+'</button>';
            });

            $('#id_tags').replaceWith(tagshtml);
            $('.helptext').remove();
            
            $('.tag').click(function(ev){
                ev.preventDefault();
                $(this).toggleClass('btn-primary');
            });
        });
        
        
    </script>
{% endblock %}
