{% extends "base.html" %}

{% block main %}

<div class="container py10">
    <span class="right">
        <a class="btn btn-primary" href="/tag">Add tag</a>
    </span>
</div>

<div class="container">
    {%for t in tags%}
    <div class="row">
        <div class="item">
            <div class="right">
                <a class="px10" href="/tag/{{t.id}}">edit</a>
                <a class="px10 deleteLink" entity="Tag" href="/tag/delete/{{t.id}}">delete</a>
            </div>
            {{t.name}}
        </div>
    </div>
    {% endfor %}
</div>
{%endblock%}


{% block css%}
<style>
    .item
    {
        background: #fafafa;
        border: 1px solid #efefef;
        margin:5px 0;
        padding:10px;
    }
    .item .title
    {
        font-weight: bold;
    }
</style>
{%endblock%}
